@import '../../styles/colors';

  
.profiles{
    margin: 10px 50px;
    .heading{
        display: flex;
        flex-direction: column;
        width: 153px;
        

        h1{
            font-size: 2.5rem;
            font-weight: 400;
        }

        .line{
           
            border: 1px solid $accent_blue;
        }
    }
    .profileList{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(5,1fr) ;
        row-gap: 30px;
        justify-items: center;
    }
}

.card{

    display: flex;
    flex-direction: column;
    border: 5px solid $accent_green;
    width: 230px;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    transition: all 0.75s ease 0s;

    &:hover{
        border: 5px solid $accent_blue;
        scale: 1.05;
    }
    a {
        text-decoration: none;
        color: white;
    }
    .fullName {
       padding-top: 5px;
        text-align: center;
        
        p{
            
            font-size: 1.3rem;
  
        }
    }
    .image{
        margin: 12px 0 0 0;
        width: 155px;
        border-radius: 50%;
        border: 5px solid $accent_blue;
    }

    .socialMedia {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 10px 0;
        img{
            width: 30px;
        }

    }
}
