@import "../../styles/colors";
@import "../../styles/mixins";

.landing{
  margin: 0 ;
  padding: 0;
  height: 100vh;
  width: 100%;

  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-image: url(../../assets/background/background.jpg);
  overflow-y:hidden;

  @include respond-height-below(h1){
    overflow-y: auto;
  }
  
  @include respond-below(sm){
    overflow-y: auto;
  }
  @include respond-below(xxs){
    overflow-x: hidden;
  }

  
  
  .app {
    // background-color: aqua;
    margin: 10px 50px;
    width: 95%;
    height: 84vh;

    @include respond-height-below(h1){
      height: 91vh;
    }
    @include respond-height-below(h2){
      height: 98vh;
    }
    
    @include respond-below(sm){
      width: 87vw;
      margin: 10px 20px;
      height: 49vh;
    }

    .header{
      margin: 0 0 -30px -40px;
      // padding-top: 20px;
      text-align: start;

      @include respond-below(sm){
        text-align: center;
        margin: 0 0 
      }
      img{
        width: 100px;
      &:hover{
        scale: 1.1;
        transition: all 0.5s ease 0s;
  
      }
    }
    }
    .row {
      width: 64%;
      height: inherit;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @include respond-below(sm){
        width: 90%;
        flex-wrap: wrap;
        flex-direction: column;
      }
      @include respond-between(sm, lg) {
        width: 69%;
      }
        // @include respond-below(xs){
        //   width: 65%;
        // }
  
      .navbarSection {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include respond-below(sm){
          width: 93vw;
        }
        @include respond-below(xxs){
          width: 94vw;
        }
        
        
      
        .line {
          //   position: absolute;
          width: 0px;
          height: 226px;
          margin: 30px 0;
          //   ;
          //   top: 638px;
      
          border: 2px solid #eeeeee;

          @include respond-below(sm){
            display: none;
          }
          
        }

        .navrow{
          display: flex;
          flex-direction: column;
          
          @include respond-below(sm){
            margin: 0 20px 0 0;
            width: 91vw;
            justify-content: space-around;
            flex-direction: row;
          }
          @include respond-below(xxs){
            margin: 0;
            width: 88vw;
          }
        }
        nav ul {
          list-style-type: none;
  
           li {
            font-size: 1.4rem;

            @include respond-below(sm){
              font-size: 0.9rem;
            }
            @include respond-below(xs){
              font-size: 0.7rem;
            }
            a{
          text-decoration: none;
          color: white;
          
          }
          
        }
      }
      }
       
      }
  
      .hero {
        p {
          font-size: 10rem;
          letter-spacing: 5px;

          @include respond-between(sm, lg) {
            padding-left: 55px;
          }
          @include respond-below(sm){
            padding-left: 10px;
            font-size: 7rem;
          }
          @include respond-below(xs){
            font-size: 6rem;
          }

          @include respond-below(xxs){
            font-size: 5rem;
            padding-left: 0;
            
          }
        }
      }
      
    }
    .footers{
      text-align: end;
      margin-bottom: 10px;

      // @include respond-height-above(h0){
      //   margin-top: 3%;
      // }

      @include respond-above(lg){
        width: 96vw;
        
      }
      @include respond-above(sm){
        width: 92vw;
      }
      @include respond-below(sm){
        margin-top: 200px;
        text-align: center;
        width: 90vw;
      }
      
      img:hover{
        scale: 1.1;
        transition: all 0.5s ease 0s;
  
      }
    }
    
  }
  

