@import '../../styles/colors';

.about{
    .heading{
        display: flex;
        flex-direction: column;
        width: 130px;

        h1{
            font-size: 2.5rem;
            width: 135px;
            font-weight: 400;
        }

        .line{
           
            border: 1px solid $accent_blue;
        }
    }

    .hero{
        align-items: center;
        height: 85vh;
        display: flex;
        justify-content: space-between;

        .centerSection {
            text-align: center;

            img{

                width: 250px;
                border-radius: 50%;
                border: 5px solid $accent_blue;
            }

            p{
                text-align: center;
                padding: 10px 25%;
                font-size: 1.2rem;
            }
            .name{
                padding-top: 20px;;
                font-size: 1.8rem;
                font-weight: 400;
                transition: all 0.75s ease 0s;

                &:hover{
                    color: $accent_blue;
                }
            }

        }

        .socialMedia{
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
            // flex-wrap: nowrap;

           img{
            transition: all 0.5s ease 0s;

            &:hover{
                
                scale: 1.2;
            }
           }
        }
    }
    .footer{
        text-align: center;
        margin-right: 70px;
        p{
            // padding: 0 20px;
        a{
            text-decoration: none;
            color: $accent_blue;
        }
        span{
            color: $accent_blue;
        }
    }
    }
}