@import '../../styles/colors';

.about{
    .heading{
        display: flex;
        flex-direction: column;
        width: 130px;

        h1{
            font-size: 2.5rem;
            width: 135px;
        }

        .line{
           
            border: 1px solid $accent_blue;
        }
    }

    .hero{
        align-items: center;
        height: 90vh;
        display: flex;
        justify-content: space-between;

        .centerSection {
            text-align: center;

            img{

                width: 250px;
                border-radius: 50%;
                border: 5px solid $accent_blue;
            }

            p{
                text-align: center;
                padding: 10px 20%;
            }
            .name{
                padding-top: 20px;;
                font-size: 1.5rem;
            }

        }

        .socialMedia{
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            // flex-wrap: nowrap;
        }
    }
}