@import '../../styles/colors';

.cheatsheet{
    .heading{
        margin-top: -100px;
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 300px;

        h1{
            font-size: 2.5rem;
            width: 300px;
            font-weight: 400;
        }

        .line{
           
            border: 1px solid $accent_blue;
        }
    }
    .split{
        width: 100%;
        margin-top: 120px;
        display: flex;
        flex-direction: row;

        .leftSide{
            // position: static;
            overflow: hidden; 
            position: fixed;
            width: 45vw ;
            a{
                text-decoration: none;

            p{
                margin: 10px 0;
                color: $accent_blue;
                font-size: 1.4rem;
                // &:active{
                //     color: white;
                // }
            }

            
        }
        }

        .rightSide{
            margin-left: 45vw;
            overflow: auto;
            
            .stack{
               width: 50vw;
            
            .Heading{
                margin-top: 10px;
                font-size: 1.7rem;
                font-weight: 600;
            }
            .subHeading{
                margin-top: -10px;
                font-size: 1.2rem;
                color: $accent_blue;
            }

           .section{
               margin-top: 20px;

            .snippet{
                background-color: $faded_white;
                height: 45px;
                width: 80%;
                border-radius: 10px;

                .code{
                    padding: 10px;
                    color: black;
                }

            }
            .codeDescription{
                color: $accent_blue;
            }
           }
        }

        }
    }
}